.container .item {
    width: 300px;
    margin: 20px;
   
  }
  


  .container {
      display: flex;
  }

  nav {
      max-width:1024px;
      display: flex;
      justify-content: space-between;
  }


  
 
#page {
    max-width: 1024px;
  margin: auto;
}
  nav a {
     text-decoration: none;
  }



  .container .heroitem {
      
  }