.container .item {
    width: 300px;
    margin: 20px;
   
  }
  


  .container {
      display: flex;
  }

  nav {
      width:700px;
      display: flex;
      justify-content: space-between;
  }

  #nav-container {
    width: 800px;
    display:flex;
  }
  
  #nav-container div:last-child {
 
    margin-left: auto;
    display:flex;
  }

  nav a {
     text-decoration: none;
  }



  .container .heroitem {
      
  }