.container .item {
    width: 300px;
    margin: 20px;
   
  }
.hero-container  {
    display:flex;
    justify-content: space-between;
    margin: 20px;
    padding:20px;
}
  .hero-container .heroitem {
      max-width: 600px;
      
  }
  
#callout h1 {
    font-size: 80px;
    text-align:center;
    margin: 20px;
    padding:20px;
}

#hero {
    max-width:1024px;
}
  .container {
      display: flex;
  }

  nav {
      max-width:1024px;
      display: flex;
      justify-content: space-between;
      margin: 20px;
    padding:20px;
  }


  
 
#page {
    max-width: 1024px;
  margin: auto;
}
  nav a {
     text-decoration: none;
     color: grey;
  }



  